<div class="quick-view-wrap pro_btn">  
   <a href="javascript:void(0)" data-id="{{ product.handle }}" class="quick-view-text for-home btn"><i class="mdi mdi-cached"></i><i class="mdi mdi-eye-outline"></i><span class="tooltip-label">{{ 'products.quickveiw.quickveiw' | t }}</span></a>
</div>