{% assign number_of_products = 6 %}
{% assign number_of_products_to_fetch = number_of_products | plus: 1 %}
{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
{% assign found_a_collection = false %}
{% for c in product.collections %}
{% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
{% assign found_a_collection = true %}
{% assign collection = c %}
{% endif %}
{% endfor %}
{% endif %}
{% if collection and collection.products_count > 1 %}
<div class="related-products-container">
  <div class="section-header text-center">   
    {% if settings.related_title != blank %}
    <h2 class="tt-title" style="color:{{ settings.related_title_color }}">{{ settings.related_title }}</h2>  
    {% endif %}
    {% if settings.related_subtitle != blank %}
    <div class="subtitle" style="color:{{ settings.related_subtitle_color }}">{{ settings.related_subtitle }}</div>  
    {% endif %}
  </div>
  <div class="product-grid related-products owl-carousel owl-theme">
    {% assign current_product = product %}
    {% assign current_product_found = false %}
    {% for product in collection.products limit: number_of_products_to_fetch  %}
    {% if product.handle == current_product.handle %}
    {% assign current_product_found = true %}
    {% else %}
    {% unless current_product_found == false and forloop.last %}
    {% unless same_vendor and current_product_found.vendor != product.vendor %}
    {% unless same_type and current_product_found.type != product.type %}
    <div class="grid-item">
      {% render 'product-card-grid', product: product %}
    </div>
    {% endunless %}
    {% endunless %}
    {% endunless %}
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}
<script type="text/javascript">function relatedowljs(){var related_count=$('.related-products .item-row').length;if(related_count>4){$('.related_navigation').css('display','block')}
                                                       else{$('.related_navigation').css('display','none')}
                                                       var related=$("body:not(.rtl) .related-products");var relatedrtl=$("body.rtl .related-products");related.owlCarousel({items:5,slidesToScroll:1,loop:!1,responsive:{100:{items:1},319:{items:2},751:{items:3},1200:{items:4},1300:{items:5},1530:{items:6}},responsiveRefreshRate:200,responsiveBaseWidth:window,autoPlay:!1,stopOnHover:!0,nav:!0,dots:!1});if($('.related-products-container').find('.owl-nav').hasClass('disabled')){$('.related-products-container').find('.customNavigation').hide()}else{$('.related-products-container').find('.customNavigation').show()}
                                                       $(".related_navigation .next").click(function(){related.trigger('next.owl')})
                                                       $(".related_navigation .prev").click(function(){related.trigger('prev.owl')})
                                                       relatedrtl.owlCarousel({items:5,loop:!1,rtl:!0,responsive:{100:{items:1},319:{items:2},751:{items:3},1200:{items:4},1300:{items:5},1530:{items:6}},responsiveRefreshRate:200,responsiveBaseWidth:window,autoPlay:!1,stopOnHover:!0,nav:!0,dots:!1});$(".related_navigation .next").click(function(){relatedrtl.trigger('next.owl')})
                                                       $(".related_navigation .prev").click(function(){relatedrtl.trigger('prev.owl')})}
  $(document).ready(function(){relatedowljs()});$(window).resize(function(){relatedowljs()});</script>