<div class="grid error-404">
  <div class="container">
    <div class="error-item text-center">
       <div class="error">
      <h1 class="text-center heading-404">{{ 'general.404.title' | t }}</h1>
      <i class="mdi mdi-information-outline"></i>
      <h1 class="text-center heading-404">{{ 'general.404.title' | t }}</h1>
      </div>
      <h4 class="text-center">{{ 'general.404.sub_title' | t }}</h4>
      <p class="text-center">{{ 'general.404.subtext_html' | t }}</p>
      {% render 'search-bar' %}
    </div>
  </div>
</div>