<div class="row">
  <div class="blog-section">
    <aside class="sidebar left-sidebar col-xs-12 col-sm-3 col-md-3">
      <div class="sidebar__inner">
        {% render 'blog-sidebar' %}
      </div>
    </aside>
  </div>
  <div class="grid__item col-xs-12 col-sm-9  col-md-9 content-wrapper">
    <div class="blog_masonry_left">
      <div class="blog_content_wrap">asdf
        {% for link in linklists.blogs.links %}
          {% assign blog = link.object %}
          {% for article in blog.articles %}
            <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
          {% endfor %} 
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
"name": "Blog Page Inner Section",
"class": "blogleft_inner_content container--narrow",
"settings": [
],
"presets": [
    {
        "name": "Blog Page Inner Section",
        "settings": {}
    }
]
}
{% endschema %}