<div class="container">
  <div class="page-content" style="margin-top: 30px;">
    <header>
      <h3 class="tt-innerpagetitle">{{ page.title }}</h3>
      <hr>
    </header>
    {% comment %}Regular page content goes here.{% endcomment %}
    <div class="rte">
      {{ page.content }}
    </div>
  </div>
</div>