<div class="white-boxes">
    <div class="boxes_wrap">
        <div class="box_item">
            <h3>Orders</h3>
            <h2>{% if customer.orders_count %}{{ customer.orders_count }}{% else %}0{% endif %}</h2>
        </div>
        <div class="box_item">
            <h3>Products</h3>
            <h2>{% if customer.orders_count %}{{ customer.orders_count }}{% else %}0{% endif %}</h2>
        </div>
        <div class="box_item">
            <a href="/collections/">
                <svg width="25" height="25" viewBox="0 0 640 640">
                    <title></title>
                    <g id="icomoon-ignore">
                    </g>
                    <path fill="#fff" d="M398.464 144.512c14.272 13.952 15.392 33.376 0 50.432l-119.904 125.056 119.904 125.056c15.392 17.056 14.272 36.512 0 50.368-14.24 13.952-38.304 13.056-51.68 0-13.376-12.992-144.064-150.24-144.064-150.24-7.136-6.944-10.72-16.064-10.72-25.184s3.584-18.24 10.72-25.248c0 0 130.688-137.184 144.064-150.24 13.376-13.088 37.44-13.952 51.68 0z"></path>
                </svg>
            </a>
            <h2>Shop</h2>
            <p>Behind your order</p>
        </div>
    </div>
</div>

{%- schema -%}
    {
        "name": "Order Count Boxes",
        "tag": "section",
        "class": "white-boxes_wrap",
        "settings": [
        ],
        "presets": [
            {
                "name": "Order Count Boxes",
                "settings": {}
            }
        ]
    }
{%- endschema -%}
