/* Header */
.header_contents-wrap {
    display: flex;
    align-items: center;
}

.header_contents-wrap .site-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_contents-wrap .site-nav:after {
    display: none;
}

#accessibleNav>li>a:before {
    display: none;
}

#accessibleNav>li:hover>a {
    color: #81BBE1;
}

.header_logo_wrap {
    order: 2;
    flex-grow: 1;
}

.site-nav {
    order: 1;
    width: fit-content;
}

.right-link-icon {
    order: 3;
}

#tt-megamenu .tt-mega_menu {
    right: initial !important;
    left: 55px !important;
    border-color: #2C4C7B !important;
}

.tt_menus_ul {
    border: none !important;
    max-width: fit-content;
    min-width: 200px;
}

#tt-megamenu .tt-mega_menu .tt_menus_ul > li.tt_menu_item,
.offer-content,
.bottom_header_1  {
    display: none !important;
}

#tt-megamenu .tt-mega_menu .tt_menus_ul .site-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: fit-content;
}

.cart-products-count {
    transform: translate(-10px, -10px);
}

@media(min-width: 990px) {
    .header_logo_wrap {
        order: 1;
        flex-grow: initial;
    }

    .site-nav {
        order: 2;
        flex-grow: 1;
    }

    .right-link-icon {
        order: 3;
    }

    .ttresponsive_menu {
        display: none !important;
    }
}