body {
    background-color: #fff !important;
}

@media(min-width: 990px) {
    main.main-content {
        margin-top: var(--header-height) !important;
    }
}

/* Header */
.header_contents-wrap {
    display: flex;
    align-items: center;
}

.header_contents-wrap .site-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_contents-wrap .site-nav:after {
    display: none;
}

#accessibleNav>li>a:before {
    display: none;
}

#accessibleNav>li:hover>a {
    color: #81BBE1;
}

.header_logo_wrap {
    order: 2;
    flex-grow: 1;
}

.site-nav {
    order: 1;
    width: fit-content;
}

.right-link-icon {
    order: 3;
}

#tt-megamenu .tt-mega_menu {
    right: initial !important;
    left: 55px !important;
    border-color: #2C4C7B !important;
}

.tt_menus_ul {
    border: none !important;
    max-width: fit-content;
    min-width: 200px;
}

#tt-megamenu .tt-mega_menu .tt_menus_ul > li.tt_menu_item,
.offer-content,
.bottom_header_1  {
    display: none !important;
}

#tt-megamenu .tt-mega_menu .tt_menus_ul .site-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: fit-content;
}

.cart-products-count {
    transform: translate(-10px, -10px);
}

@media(min-width: 990px) {
    .header_logo_wrap {
        order: 1;
        flex-grow: initial;
    }

    .site-nav {
        order: 2;
        flex-grow: 1;
    }

    .right-link-icon {
        order: 3;
    }

    .ttresponsive_menu {
        display: none !important;
    }
}


/* Pre loader */
.rotating {
    background-size: 16% !important;
}


/* Hero Banner */
.hero_banner_wrapper {
    padding: 40px 15px 0;
}

.hero-banner {
    position: relative;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.hero-banner img {
    border-radius: 42px;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
    object-position: top;
}

.hero-banner .banner_contents {
    z-index: 2;
    position: relative;
    padding: 20px;
    text-align: center;
}

.hero-banner h3 {
    color: #2D4D7C;
    font-family: "Outfit", Sans-serif;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 5px;
}

.hero-banner h2 {
    color: #001A3E;
    font-family: "Outfit", Sans-serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 1;
    max-width: 700px;
    margin-bottom: 40px;
}

.hero-banner a {
    font-family: "Outfit", Sans-serif;
    font-weight: 300;
    background-color: #77B6DE;
    border-radius: 18px 18px 18px 18px;
    padding: 12px 24px;
    color: #fff;
    font-size: 15px;
}

@media(min-width: 990px) {
    .hero-banner {
        min-height: 570px;
    }

    .hero-banner .banner_contents {
        padding: 40px;
    }

    .hero-banner h3 {
        font-size: 22px;
    }

    .hero-banner h2 {
        font-size: 58px;
    }
}